/* base */
@import "../base/base.css";
/* layout */
@import "../base/layout.css";
/* 3rd-party */

@import '../3rd-party/font-awesome.min.css';

/* components */
@import "../components/button.css";
@import "../components/footer.css";
@import "../components/header.css";

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

/* hero start */

/* hero end */


/* about start */

/* about end */


/* services start */

/* services end */


/* stats start */

/* stats end */


/* projects start */

/* projects end */


/* feedback start */

.feedback {
    background-color: #f9f9ff;
}
.feedback-title {
    text-align: center;
    margin-bottom: 2px;
}

.feedback-content {
    text-align: center;
    margin-bottom: 64px;
}


.container > .row > .card {
    background-color: white;
    padding: 1em 2.5em;
}

.feedback-top {
    display: flex;
    flex-direction: row;
    gap: 24px;

}

.lady {
    width: 33px;
    height: 33px;
}


.container > .row > .card > .position {
    margin-left: 59px;
    margin-top: 12px;
    font-weight: bold;
    text-transform: capitalize;
}

.container > .row > .card > .name {
    margin-left: 59px;
}

.cards {
    position: relative;
}

.card:hover {
    cursor: pointer;
    color: var(--main-purple);
}

.cards > .arrow {
    color: var(--main-grey);
    -webkit-text-stroke: 1px white;
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: absolute;
    top: 25%;
    right: -2%;
    box-shadow: -12px 6px 21px #E0E0E5;
}

.cards > .arrow > .arrow-up {
    width: 44px;
    height: 44px;
    text-align: center;
    padding: 12px;
    background-color:white;
}

.cards > .arrow > .arrow-down {
    width: 44px;
    height: 44px;
    text-align: center;
    padding: 12px;
    background-color: white;
}

.cards > .arrow > .arrow-up:hover {
   cursor: pointer;
   color: white;
   background-color: var(--main-purple);
   transition: all 0.3s;
}

.cards > .arrow > .arrow-down:hover {
    cursor: pointer;
    color: white;
    background-color: var(--main-purple);
    transition: all 0.3s;
 }


@media (max-width: 768px) {

    .feedback {
        padding-bottom: 152px;
    }
    .card-2 {
        display: none;
    }

    .cards > .arrow {
        display: flex;
        flex-direction: row;
        gap: 3px;
        position: absolute;
        top: 106%;
        right: 43%;
        
    }

    .cards > .arrow > .arrow-up {
       box-shadow: -12px 6px 21px #E0E0E5;
    }
     
     .cards > .arrow > .arrow-down {
        box-shadow: -12px 6px 21px #E0E0E5;
    }

}

@media (max-width: 992px) {

    .feedback {
        padding-bottom: 152px;
    }

    .cards > .arrow {
        display: flex;
        flex-direction: row;
        gap: 3px;
        position: absolute;
        top: 106%;
        right: 44%;
    }

    .cards > .arrow > .arrow-up {
        box-shadow: -12px 6px 21px #E0E0E5;
     }
      
      .cards > .arrow > .arrow-down {
         box-shadow: -12px 6px 21px #E0E0E5;
     }
}

@media (min-width: 992px) {

    .feedback {
        padding-bottom: 128px;
    }

    .cards > .arrow {
        display: flex;
        flex-direction: column;
        gap: 3px;
        position: absolute;
        top: 28%;
        right: -3%;
        }
}    

@media (min-width: 1200px) {
    .cards > .arrow {
        display: flex;
        flex-direction: column;
        gap: 3px;
        position: absolute;
        top: 25%;
        right: -2%;
        }
}    


/* feedback end */


/* plan start */

/* plan end */


/* blog start */

/* blog start */


/* brands start */

/* brands end */
