/* base */
@import "../base/base.css";
/* layout */
@import "../base/layout.css";
/* 3rd-party */

@import '../3rd-party/font-awesome.min.css';

/* components */
@import "../components/button.css";
@import "../components/footer.css";
@import "../components/header.css";

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

/* hero start */

/* hero end */


/* about start */

/* about end */


/* services start */

.services {
    text-align: center;
}

.services > .row > .services-tittle {
    margin-bottom: 2px;
}

.services > .row > .services-description {
    margin-bottom: 64px;
}

.services > .row > .single-service > .service-icon {
    font-size: 32px;
    color: var(--main-black);
    margin-bottom: 24px;
}

.services > .row > .single-service > a {
    margin-bottom: 24px;
    text-decoration: none;
    color: var(--main-black);
}

.services > .row > .single-service > a > h3 {
    margin-bottom: 24px;
}

.services > .row > .single-service .service-p {
    margin-bottom: 32px;
}

.services > .row > .single-service:hover a {
    color: var(--main-purple);
    transition: all 0.4s;
}

.services > .row > .single-service:hover .service-icon {
    transition: all 0.2s;
    background: var(--main-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* services end */


/* stats start */
.stats {
    background: var(--main-gradient);
    padding: 100px;
}

.stats  * {
    color: white;
    text-align: center;
    }


@media (max-width: 768px) {
.stats  > .row > .stats-content {
    margin-bottom: 32px;
    }
}

/* stats end */


/* projects start */

/* projects end */


/* feedback start */

/* feedback end */


/* plan start */

/* plan end */


/* blog start */

/* blog start */


/* brands start */

.static {
    border: 1px solid red;
    background: var(--main-gradient);
    padding: 90px;
    

}


/* brands end */
